body {
  margin: 0;
  font-family: Arial;
  background: #eef3f7;
}

.navbar {
  background: #131921;
  color: white;
  padding: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.navbar input {
  flex: 1;
  padding: 10px;
}

.navbar button {
  background: orange;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.hero {
  background: #ffcc66;
  padding: 20px;
  text-align: center;
}

.products {
  display: flex;
  gap: 15px;
  padding: 20px;
}

.product {
  background: white;
  padding: 15px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
}

.product img {
  width: 80px;
}

.product button {
  background: #ff9900;
  border: none;
  padding: 8px;
}

.cart {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

#cart-list li {
  padding: 5px;
}

/* LOGIN PAGE */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #eef3f7;
}

.login-box {
  background: white;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
}

.login-box input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

.login-box button {
  padding: 10px;
  background: orange;
  border: none;
}
