body {
    margin: 0;
    font-family: Arial;
    background: #f2f2f2;
}

/* NAVBAR */
.navbar {
    background: #131921;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar input {
    width: 40%;
    padding: 8px;
}

.navbar button {
    background: orange;
    border: none;
    padding: 8px;
    cursor: pointer;
}

/* PRODUCTS */
.products {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
}

.product {
    background: white;
    padding: 15px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.product button {
    background: #ff9900;
    border: none;
    padding: 8px;
    cursor: pointer;
}

/* CART */
.cart {
    background: white;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
}

#cart-list li {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}
